@use "@/assets/scss/font.scss" as *;
@use "@/assets/scss/reset.scss" as *;
@use "@/assets/scss/variables.scss" as *;
@use "@/assets/scss/mixins.scss" as *;

body {
  font-family: "Pretendard";
  font-size: 1.5rem;
  color: #111;
}
